{% extends 'layouts/frontends/memo.html' %}

{% block container_memo %}
<form class="col s12" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="input-field col s12">
            <i class="mdi-editor-mode-edit prefix"></i>
            {{ form.content(class="materialize-textarea autosize no-border form-storage", rows="5", autofocus=autofocus) }}
            <label for="icon_prefix2">I would like to know what is your memo :D</label>
        </div>
    </div>
    <div class="right-align">
        <button type="submit" class="waves-effect waves-light btn light-blue lighten-2 white-text">Submit</button>
    </div>
</form>
{% endblock %}
