{% extends 'layouts/frontend.html' %}

{% block container %}
<div id="index" class="row">
	<div class="span6 offset1">
		<form class="form-horizontal" method="post">
			<div class="control-group">
				{{ form.account.label(class="control-label", for="inputAccount") }}
				<div class="controls">
					{{ form.account(id="inputAccount", placeholder="Account") }}
				</div>
			</div>
			<div class="control-group">
				{{ form.password.label(class="control-label", for="inputPassword") }}
				<div class="controls">
					{{ form.password(id="inputPassword", placeholder="Password") }}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						{{ form.permanent() }} {{ form.permanent.label }}
					</label>
					<button type="submit" class="btn">Sign in</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
