{% extends 'layouts/frontend.html' %}

{% block container %}
<div class="row">
    <div class="card">
        <div class="card-content light-blue-text">
            <span class="card-title light-blue-text">Sign in</span>
            <form class="col s12" role="form" method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.account.label(for="inputAccount") }}
                        {{ form.account(id="inputAccount", placeholder="Account", autocorrect="off", autocapitalize="off") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password.label(for="inputPassword") }}
                        {{ form.password(id="inputPassword", placeholder="Password") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{ form.permanent() }} <label>{{ form.permanent.label }}</label>
                    </div>
                </div>
                <button type="submit" class="btn light-blue">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
