<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" charset="utf-8" />
<meta name="Robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>TheDay</title>
{% assets filters="yui_css", output="assets/packed.css",
	"vendor/bootstrap/css/bootstrap.min.css",
	"css/default.css",
	"vendor/bootstrap/css/bootstrap-responsive.min.css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets filters="closure_js", output="assets/packed.js",
	"vendor/jquery.min.js",
	"vendor/bootstrap/js/bootstrap.min.js",
	"js/default.js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</head>
<body>
<div class="container-narrow">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-narrow">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Project name</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="nav-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-narrow">
		{% with messages = get_flashed_messages(with_categories = true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div data-alert class="alert-box {{ category }}">
						<strong>{{ category | capitalize }}!</strong> {{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block container %}
		{% endblock %}

		<div id="footer">
			<hr>
			<small>&copy TheDay 2013 @ VERSION 0.1</small>
		</div>
	</div>
</div>
</body>
</html>
