.theme-eggplant {
    --background: oklch(0.97 0.01 316.68);
    --foreground: oklch(0.37 0.03 259.73);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.37 0.03 259.73);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.37 0.03 259.73);
    --primary: oklch(0.71 0.16 293.4);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.91 0.05 306.07);
    --secondary-foreground: oklch(0.45 0.03 257.68);
    --muted: oklch(0.95 0.03 307.19);
    --muted-foreground: oklch(0.55 0.02 264.41);
    --accent: oklch(0.94 0.03 322.47);
    --accent-foreground: oklch(0.37 0.03 259.73);
    --destructive: oklch(0.81 0.1 19.47);
    --border: oklch(0.91 0.05 306.07);
    --input: oklch(0.91 0.05 306.07);
    --ring: oklch(0.71 0.16 293.4);
    --chart-1: oklch(0.71 0.16 293.4);
    --chart-2: oklch(0.61 0.22 292.63);
    --chart-3: oklch(0.54 0.25 293.03);
    --chart-4: oklch(0.49 0.24 292.7);
    --chart-5: oklch(0.43 0.21 292.63);
    --sidebar: oklch(0.91 0.05 306.07);
    --sidebar-foreground: oklch(0.37 0.03 259.73);
    --sidebar-primary: oklch(0.71 0.16 293.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.94 0.03 322.47);
    --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
    --sidebar-border: oklch(0.91 0.05 306.07);
    --sidebar-ring: oklch(0.71 0.16 293.4);
}

.theme-eggplant.dark {
    --background: oklch(0.22 0.01 52.96);
    --foreground: oklch(0.93 0.03 273.66);
    --card: oklch(0.28 0.03 307.25);
    --card-foreground: oklch(0.93 0.03 273.66);
    --popover: oklch(0.28 0.03 307.25);
    --popover-foreground: oklch(0.93 0.03 273.66);
    --primary: oklch(0.79 0.12 295.97);
    --primary-foreground: oklch(0.22 0.01 52.96);
    --secondary: oklch(0.34 0.04 309.13);
    --secondary-foreground: oklch(0.87 0.01 261.81);
    --muted: oklch(0.28 0.03 307.25);
    --muted-foreground: oklch(0.71 0.02 261.33);
    --accent: oklch(0.39 0.05 304.68);
    --accent-foreground: oklch(0.87 0.01 261.81);
    --destructive: oklch(0.81 0.1 19.47);
    --border: oklch(0.34 0.04 309.13);
    --input: oklch(0.34 0.04 309.13);
    --ring: oklch(0.79 0.12 295.97);
    --chart-1: oklch(0.79 0.12 295.97);
    --chart-2: oklch(0.71 0.16 293.4);
    --chart-3: oklch(0.61 0.22 292.63);
    --chart-4: oklch(0.54 0.25 293.03);
    --chart-5: oklch(0.49 0.24 292.7);
    --sidebar: oklch(0.34 0.04 309.13);
    --sidebar-foreground: oklch(0.93 0.03 273.66);
    --sidebar-primary: oklch(0.79 0.12 295.97);
    --sidebar-primary-foreground: oklch(0.22 0.01 52.96);
    --sidebar-accent: oklch(0.39 0.05 304.68);
    --sidebar-accent-foreground: oklch(0.87 0.01 261.81);
    --sidebar-border: oklch(0.34 0.04 309.13);
    --sidebar-ring: oklch(0.79 0.12 295.97);
}
