body {
    background: #353c42;
}

a {
    text-decoration: none;
    color: #5e6870;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #88939C;
    outline: none;
}

.navbar-app {
    background: #272c30;
    border: 0;
}

.navbar-app .navbar-brand {
    color: #FFFFFF;
}

.navbar-app .navbar-nav > li > a {
    color: #5E6870;
    font-size: 16px;
}

.navbar-app .navbar-nav > li > a:hover,
.navbar-app .navbar-nav > li > a:focus {
    color: #FFFFFF;
    font-size: 16px;
}

.panel {
    border: 0;
    margin-bottom: 15px;
    background-color: #30363C;
    color: #88939C;
}

.panel > .panel-heading {
    color: #FFFFFF;
    border: 0;
    padding: 11px 20px 9px;
    background-color: #24292C;
    border-bottom: 2px solid #5E6870;
    border-bottom-color: #ED4949;
}

.form-control {
    background-color: #24292C;
    border-color: #24292C;
    box-shadow: none;
    color: #5E6870;
}

.form-control:focus {
    border-color: #24292C;
    box-shadow: inset 0 0px 3px #5E6870;
}

.btn-default {
    background-color: #24292C !important;
    border-color: #24292C !important;
    color: #5E6870 !important;
    outline: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:visited {
    background-color: #000000 !important;
    border-color: #24292C !important;
    color: #5E6870 !important;
    outline: none;
}

.pager li > a {
    color: #5E6870;
    background-color: #24292C;
    border: 1px solid #24292C;
}

.pager li > a:hover,
.pager li > a:focus,
.pager li > a:active {
    color: #5E6870;
    background-color: #000000;
    border: 1px solid #24292C;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #5E6870;
    background-color: #000000;
}
