{% extends 'layouts/frontends/setting.html' %}

{% block container_setting %}
<form class="col s12" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="input-field col s12">
            {{ form.old_password.label(for="inputOldPassword") }}
            {{ form.old_password(id="inputOldPassword",) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.new_password.label(for="inputOldPassword") }}
            {{ form.new_password(id="inputOldPassword") }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.confirm_password.label(for="inputConfirmPassword") }}
            {{ form.confirm_password(id="inputConfirmPassword") }}
        </div>
    </div>
    <div class="right-align">
        <button type="submit" class="waves-effect waves-light btn light-blue lighten-2 white-text">Submit</button>
    </div>
</form>
{% endblock %}
