{% extends 'layouts/frontends/setting.html' %}

{% block container_setting %}
<form class="form-horizontal" role="form" method="post">
	{{ form.csrf_token }}
	<div class="form-group">
		{{ form.old_password.label(class="col-lg-2 control-label", for="inputOldPassword") }}
		<div class="col-lg-10">
			{{ form.old_password(id="inputOldPassword", placeholder="Old Password", class="form-control") }}
		</div>
	</div>
	<div class="form-group">
		{{ form.new_password.label(class="col-lg-2 control-label", for="inputOldPassword") }}
		<div class="col-lg-10">
			{{ form.new_password(id="inputOldPassword", placeholder="New Password", class="form-control") }}
		</div>
	</div>
	<div class="form-group">
		{{ form.confirm_password.label(class="col-lg-2 control-label", for="inputConfirmPassword") }}
		<div class="col-lg-10">
			{{ form.confirm_password(id="inputConfirmPassword", placeholder="Confirm Password", class="form-control") }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
{% endblock %}
