{% extends 'layouts/frontends/talk.html' %}

{% block container_talk %}
<div>
    {% for talk in paginator.items %}
        {% if talk.service != "twitter" %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ talk.user.hashed_username | talk_card_heading(talk.create_at) }}
                </div>
                <div class="panel-body">
                    <span class="lead">{{ talk.content | nl2br }}</span>
                    <p>
                        <div class="text-muted pull-left">
                            <small>{{ talk.create_at | timeago }}</small>
                        </div>

                        <div class="pull-right">
                            <a href="{{ url_for('talk.delete', talk_id=talk.id) }}" class="btn btn-xs btn-default pull-right" data-confirm="true">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a href="{{ url_for('talk.edit', talk_id=talk.id) }}" class="btn btn-xs btn-default pull-right">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<ul class="pager">
    {% if paginator.has_prev %}
        <li class="previous"><a href="{{ url_for('talk.index', page=paginator.prev_num) }}">Previous</a></li>
    {% endif %}

    {% if paginator.has_next %}
        <li class="next"><a href="{{ url_for('talk.index', page=paginator.next_num) }}">Next</a></li>
    {% endif %}
</ul>
{% endblock %}
