{% extends 'layouts/frontend.html' %}

{% block container %}
<form class="col s12" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="input-field col s12">
            {{ form.title.label(for="inputTitle") }}
            {{ form.title(id="inputTitle") }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.content(class="materialize-textarea autosize no-border form-storage", rows="10", autofocus=autofocus) }}
            <label for="icon_prefix2">Let's start sharing bala bala bele bele ... :P</label>
        </div>
    </div>
    <div class="right-align">
        <button type="submit" class="waves-effect waves-light btn light-blue lighten-2 white-text">Submit</button>
    </div>
</form>
{% endblock %}
