{% extends 'layouts/frontends/article.html' %}

{% block container_article %}

{% for article in paginator.items %}
    <div class="card">
        <div class="card-content light-blue-text">
            <a href="{{ url_for('article.view', article_id=article.id) }}">
                <span class="card-title light-blue-text text-darken-1">{{ article.title }}</span>
                <p>
                    <span class="label label-default">{{ article.user.hashed_username }}</span>
                </p>
                <span class="badge">{{ article.update_at | timeago }}</span>
            </a>
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-content">
            No articles yet. Do you want to create it ?
        </div>
    </div>
{% endfor %}

<div class="right-align">
    {% if paginator.has_prev %}
        <a href="{{ url_for('article.index', page=paginator.prev_num) }}" class="waves-effect waves-light btn light-blue lighten-2 white-text">Previous</a>
    {% endif %}
    {% if paginator.has_next %}
        <a href="{{ url_for('article.index', page=paginator.next_num) }}" class="waves-effect waves-light btn light-blue lighten-2 white-text">Next</a>
    {% endif %}
</div>

{% endblock %}
