# -*- coding: utf-8 -*-

import multiprocessing
import gevent.monkey

gevent.monkey.patch_all()

bind         = "127.0.0.1:8080"
workers      = multiprocessing.cpu_count() * 2 + 1
worker_class = "egg:gunicorn#gevent"

user         = "www"
#group       = "www"

secure_scheme_headers = {
	'X-FORWARDED-PROTOCOL': 'ssl',
	'X-FORWARDED-PROTO': 'https',
	'X-FORWARDED-SSL': 'on'
}

loglevel = "warning"
errorlog = "-"
