<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" charset="utf-8" />
<meta name="Robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Neko</title>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/materialize/css/materialize.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='client/css/default.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='client/img/favicon.png') }}">
</head>
<body>
<nav class="light-blue">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Neko</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index.home') }}">Home</a></li>
            <li><a href="{{ url_for('article.index') }}">Articles</a></li>
            <li><a href="{{ url_for('memo.index') }}">Memos</a></li>
            <li><a href="{{ url_for('talk.index') }}">Talks</a></li>
            <li><a href="{{ url_for('setting.profile') }}">Settings</a></li>
            {% if g.user %}
                <li>
                    <a href="{{ url_for('index.signout') }}">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out
                    </a>
                </li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ url_for('index.home') }}">Home</a></li>
            <li><a href="{{ url_for('article.index') }}">Articles</a></li>
            <li><a href="{{ url_for('memo.index') }}">Memos</a></li>
            <li><a href="{{ url_for('talk.index') }}">Talks</a></li>
            <li><a href="{{ url_for('setting.profile') }}">Settings</a></li>
            {% if g.user %}
                <li>
                    <a href="{{ url_for('index.signout') }}">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out
                    </a>
                </li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>

<div class="container">
    {% if form and form.errors %}
        {% for field_name, field_errors in form.errors | dictsort if field_errors %}
            {% if loop.index <= 1 %}
                {% for error in field_errors %}
                    {% if loop.index <= 1 %}
                        <div class="row">
                            <div class="card">
                                <div class="card-content red-text text-lighten-2">
                                    <strong>Error!</strong> {{ error }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category | capitalize }}!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block container %}
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery.autosize/jquery.autosize.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/materialize/js/materialize.min.js') }}"></script>
<script src="{{ url_for('static', filename='client/js/form.storage.js') }}"></script>
<script src="{{ url_for('static', filename='client/js/default.js') }}/"></script>

</body>
</html>
